@font-face {
    font-family: 'Helvetica Neue';
    src: url('/font/HelveticaNeue-woff/HelveticaNeue-Medium.woff2') format('woff2'),
        url('/font/HelveticaNeue-woff/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: #0a0a0a;
    color: #fafafa;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
}

.header {
    margin-top: 32px;
    overflow: hidden;
    background-color: #0a0a0a;
    color: #fafafa;
    margin-left: 16px;

    a {
        float: left;
        color: #fafafa;
        text-decoration: none;
        text-align: left;
        padding: 0%;
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 18px;
    }

    .logo {
        display: block;
        margin-top: 6px;
        margin-left: 50%;
    }
}

.hero {
    margin: 16px;
    margin-right: 16px;
    p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 500;

    }
}

.footer {
    overflow: hidden;
    color: #fafafa;
    font-size: 16px;
    margin-left: 16px;
    margin-top: 96px;
    margin-bottom: 128px;

    .caption {
        font-family: 'Helvetica Neue', sans-serif;
    }

    a {
        float: left;
        color: #fafafa;
        text-decoration: none;
        text-align: left;
        padding-right: 18px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 680px) {
    .header {
        margin-left: 32px;
        .name{
            float: left;
            color: #fafafa;
            text-decoration: none;
            text-align: left;
            font-size: 18px;
        }
    }

    .hero {
        
            margin-left: 32px;
            margin-right: 32px;
        p {
            padding: 0%;
            margin-left: 0%;
            font-size: 48px;
            margin-top: 64px;
        }
    }

    .footer {
        margin-left: 32px;
        a {
            font-size: 18px;
        }
    }

}

